body {
  margin: 0;
  padding: 10px;
  background-image: url("../public/heartsBG.png");
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 10px;
}

.splash-page {
  width: 100wv;
  height: 100wh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-div {
  width: 60vw;
  background-color: rgba(137, 43, 226, 0.664);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.splash-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(243, 100, 212, 0.993);
}

.splash-page button {
  background-color: rgb(240, 3, 248);
  color: aliceblue;
  margin: 20px;
  padding: 10px;
  font-size: 3rem;
  border-radius: 5px;
  border: none;
}

.splash-page input {
  background-color: rgb(255, 199, 255);
  height: 3rem;
  width: 80%rem;
  font-size: 2rem;
  color: rgb(165, 0, 160);
  margin-bottom: 20px;
}

label {
  font-size: 2rem;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gamepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header {
  color: rgb(246, 11, 66);
  background-color: rgba(251, 160, 222, 0.859);
  text-align: center;
  font-size: 4rem;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  font-size: 2rem;
  color: rgb(246, 11, 66);
  background-color: rgba(251, 160, 222, 0.859);
  border-radius: 10px;
  padding: 10px;
}

.log-container ol li button {
  background-color: rgb(247, 53, 98);
  color: aliceblue;
  margin: 5px;
  font-size: 1.4rem;
  padding: 10px 30px 10px 30px;
}

.squares:hover {
  box-shadow: 4px 4px 10px rgb(236, 13, 13);
}
.splash-page button:hover {
  border: 2px solid white;
  box-shadow: 4px 4px 10px rgb(209, 6, 40);
}
.log-container ol li button:hover {
  border: 2px solid white;
}
