body {
  margin: 0;
  padding: 10px;
  background-image: url("../public/heartsBG.png");
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 3rem;
  margin: 0;
  padding: 10px;
}

.splash-page {
  width: 100wv;
  height: 100wh;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-div {
  width: 60vw;
  background-color: rgb(199, 32, 250);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.splash-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(243, 100, 212, 0.993);
}

.splash-page button {
  background-color: rgb(240, 3, 248);
  color: aliceblue;
  margin: 10px;
  padding: 10px;
  font-size: 3rem;
  border-radius: 5px;
}

.splash-page input {
  background-color: rgb(255, 199, 255);
  height: 3rem;
  width: 80%;
  font-size: 2rem;
  color: rgb(184, 67, 184);
  margin-bottom: 20px;
}

label {
  font-size: 2rem;
}

.board-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gamepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: 80vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-header {
  color: rgb(246, 11, 66);
  background-color: rgba(251, 160, 222, 0.859);
  text-align: center;
  font-size: 4rem;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  font-size: 1.5rem;
  color: rgb(246, 11, 66);
  background-color: rgba(251, 160, 222, 0.859);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.log-container ol li button {
  background-color: rgb(247, 53, 98);
  color: aliceblue;
  margin: 5px;
  font-size: 0.9rem;
  padding: 10px 30px 10px 30px;
  width: 150px;
}

.winner-box {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 10;
  height: 500px;
  background-color: rgb(255, 138, 187);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-card {
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(253, 238, 249);
  width: 80%;
  padding: 20px;
  color: rgb(236, 13, 13);
}

.squares:hover {
  box-shadow: 4px 4px 10px rgb(236, 13, 13);
}
.splash-page button:hover {
  border: 2px solid white;
  box-shadow: 4px 4px 10px rgb(209, 6, 40);
}
.log-container ol li button:hover {
  border: 2px solid white;
}
